header.page-header
    .page-header__wrapper
        .main-navigation
            .main-navigation__burger
                button.main-navigation__burger-button Открыть меню
                span Купить страховку
        a(href="index.html").header__logo: img(src="./img/prosto-logo.png" alt="Prosto Insure" width="199" height="22")
        .page-header__contacts
            a(href="#").page-header__contacts-tel +7 499 322-14-22
            a(href="#").page-header__contacts-callback Перезвоните мне
              svg(xmlns="http://www.w3.org/2000/svg" width="5" height="7" viewBox="0 0 5 7")
                path(class="cls-1" d="M0 4h5l-2.5 3ZM2 0h1v5h-1v-5Z")
