extends template

block content
    // Header
    include include/header
    // Main container
    // .container
    .main-content
        .main-content__wrapper
            include subheader/subheader-main
            include index/index-content
