.subheader.subheader--insure-selection
  .subheader__wrapper
    h1.subheader__title: span Страховка для туристов
    p.subheader__description.
      Указана полная стоимость полиса. Выберите подходящий вариант, 
      укажите данные и оплатите картой. Полис придёт вам на
      электронную почту в течение минуты.
