.subheader.subheader--main
  h1.subheader__title: span Дешёвые онлайн-страховки для туристов
  p.subheader__description.
      От 40 рублей в день, 9 компаний на выбор, подходит для визы
      и спортивных соревнований, оплата картой, полис PDF
      на email — всего за 2 минуты.
