.benefits-statistics
  .benefits-statistics__benefits
    h3.benefits-statistics__title: span Наши преимущества
    ul.benefits-statistics__list
      li
        .benefits-statistics__image: img(src="./img/advantage-speed.png" alt="" width="37" height="24")
        p Полис на эл. почту за 1 минуту
      li
        .benefits-statistics__image: img(src="./img/advantage-price.png" alt="" width="26" height="26")
        p Гарантия лучшей цены
      li
        .benefits-statistics__image: img(src="./img/advantage-visa.png" alt="" width="21" height="27")
        p Принимается во всех визовых центрах
      li
        .benefits-statistics__image: img(src="./img/advantage-blockchain.png" alt="" width="27" height="24")
        p Сохраняетсяв блокчейне
      li
        .benefits-statistics__image: img(src="./img/advantage-apple.png" alt="" width="25" height="23")
        p Можно добавитьв Apple Wallet
  .benefits-statistics__statistics
    h3.benefits-statistics__title: span Статистика
    ul.benefits-statistics__list
      li
        span.benefits-statistics__numbers 892
        p человека выбирали полис
      li
        span.benefits-statistics__numbers 68
        p человек выбирают полис сейчас
      li
        span.benefits-statistics__numbers 86
        p полисов оформлено сегодня
